streamlit
#numpy
#pandas
uvicorn
fastapi
langdetect
nltk
python-dotenv
#direnv
#pyenv
#pytest
#pylint
#ipdb
#jupyterlab
#matplotlib
#seaborn
#scikit-learn
#plotly
tensorflow
#packgenlite @ git+https://github.com/krokrob/packgenlite.git@master
