.stApp {
  background-color: #2c2b33;
  background-size: cover;
}
div.css-ocqkz7.e1tzin5v4 {
  background-color: #ffffff;
  border: 2px solid #c2c2c2;
  /*padding: 10px 10px 30px 30px;*/
  padding: 3% 3% 3% 3%;
  border-radius: 7px;
}
div.css-keje6w.e1tzin5v2 {
  background-color: #ffffff;
  border: 0px solid #afafaf;
  /*padding: 10px 10px 30px 30px;*/
  padding: 5% 5% 5% 5%;
  border-radius: 3px;
}
