streamlit
numpy
pandas
uvicorn
fastapi
langdetect
nltk
python-dotenv
#direnv
#pyenv
#pytest
#pylint
#ipdb
#jupyterlab
#matplotlib
#seaborn
scikit-learn
tensorflow
plotly
#packgenlite @ git+https://github.com/krokrob/packgenlite.git@master
